{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="NombrePagina">
            <img class="invertida" src="{% static 'portfolio/assets/favicon.png' %}" alt="icono" />
            <span>Franco Chichizola</span>
            <img src="{% static 'portfolio/assets/favicon.png' %}" alt="icono" />
        </div>
        <nav>
            <ul>
                <li><a href="/">Portfolio</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/admin">admin</a></li>
            </ul>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <p>Hola, {{ user.username }}!</p>
                
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Cerrar Sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </div>
        </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>