{% extends "blog/base.html" %}
{% load static %} {% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock css %}
{% block titulo%} 
    <title>Blog</title>
{% endblock titulo%}
{% block content %}
    {% if user.is_staff %}
        <a href="{% url 'crear_post' %}">Crear Nuevo Post</a>
    {% endif %}
    
    {% if posts %}
        <h1>Últimos Posts</h1>
        {% for post in posts %}
            <article>
                <h2><a href="{% url 'detalle_post' post.titulo_slug %}">{{ post.titulo }}</a></h2>
                
                {% if post.archivo_multimedia %}
                    <img src="{{ post.archivo_multimedia.url }}" alt="{{ post.titulo }}">
                {% endif %}
                
                <p>{{ post.contenido|truncatewords:30 }}</p>
                <p>Fecha de publicacion: {{ post.fecha_creacion|date:"d/m/Y"}}</p>
            </article>
        {% endfor %}
    {% else %}
        <p>No hay skibidi posts en el blog \|T-T|/p>
    {% endif %}
{% endblock %}